<style>
@media (min-width: 1200px) {
  .container {
    width: 700px;
  }
}
</style>
<%# @page_title = "Edit Page:#{@page.name}" %>

<br />

<%= link_to("<< Back to List", {:action => 'list', :subject_id => @subject.id},:class => 'back-link') %>

<div class="container">
	<div style="background-color:black;border-top-left-radius:10px;border-top-right-radius:10px;color:white;text-align: center;"> <h2 style="padding:10px;">Edit Page</h2> </div>

<%= form_for(:page, :url => {:action => 'update', :id => @page.id,:subject_id => @subject.id}, :html => {:class => "form-horizontal", :style => "border: solid 1px black;margin-top:-10px;padding:30px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;" }) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
		<%= submit_tag("Update Page", :class => "btn btn-default") %>
		</div>
	</div>
 <% end %>
 </div> 