<style>
@media (min-width: 1200px) {
  .container {
    width: 700px;
  }
}
</style>

<%# link_to("<< Back to List", {:action => 'list'}, :class => 'back_link') %>


<br />

<%# @page_title = 'Create Admin User' %>

<div class="container">
	 <div style="background-color:black;border-top-left-radius:10px;border-top-right-radius:10px;color:white;text-align: center;"> <h2 style="padding:10px;">Create Admin User</h2> </div>


<%= form_for(:admin_user, :url => {:action => 'create'}, :html => { :multipart => true,:class => "form-horizontal", :style => "border: solid 1px black;margin-top:-10px;padding:30px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;"  } ) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
		<%= submit_tag("Create Admin User", :class => "btn btn-default") %>
		</div>
	</div>
 <% end %>

 </div> 